/*--------------------------------------------------------------------- File Name: style.css ---------------------------------------------------------------------*/


/*--------------------------------------------------------------------- import Fonts ---------------------------------------------------------------------*/

@import url('https://fonts.googleapis.com/css?family=Rajdhani:300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');

/*****---------------------------------------- 1) font-family: 'Rajdhani', sans-serif;
 2) font-family: 'Poppins', sans-serif;
 ----------------------------------------*****/


/*--------------------------------------------------------------------- import Files ---------------------------------------------------------------------*/

@import url(animate.min.css);
@import url(normalize.css);
@import url(icomoon.css);
@import url(css/font-awesome.min.css);
@import url(meanmenu.css);
@import url(owl.carousel.min.css);
@import url(swiper.min.css);
@import url(slick.css);
@import url(jquery.fancybox.min.css);
@import url(jquery-ui.css);
@import url(nice-select.css);

/*--------------------------------------------------------------------- skeleton ---------------------------------------------------------------------*/

* {
     box-sizing: border-box !important;
     transition: ease all 0.5s;
}

html {
     scroll-behavior: smooth;
}

body {
     color: #666666;
     font-size: 14px;
     font-family: Poppins;
     line-height: 1.80857;
     font-weight: normal;
     overflow-x: hidden;
}

a {
     color: #1f1f1f;
     text-decoration: none !important;
     outline: none !important;
     -webkit-transition: all .3s ease-in-out;
     -moz-transition: all .3s ease-in-out;
     -ms-transition: all .3s ease-in-out;
     -o-transition: all .3s ease-in-out;
     transition: all .3s ease-in-out;
}

h1,
h2,
h3,
h4,
h5,
h6 {
     letter-spacing: 0;
     font-weight: normal;
     position: relative;
     padding: 0 0 10px 0;
     font-weight: normal;
     line-height: normal;
     color: #111111;
     margin: 0
}

h1 {
     font-size: 24px
}

h2 {
     font-size: 22px
}

h3 {
     font-size: 18px
}

h4 {
     font-size: 16px
}

h5 {
     font-size: 14px
}

h6 {
     font-size: 13px
}

*,
*::after,
*::before {
     -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     box-sizing: border-box;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
     color: #212121;
     text-decoration: none!important;
     opacity: 1
}

button:focus {
     outline: none;
}

ul,
li,
ol {
     margin: 0px;
     padding: 0px;
     list-style: none;
}

p {
     margin: 20px;
     font-weight: 300;
     font-size: 15px;
     line-height: 24px;
}

a {
     color: #222222;
     text-decoration: none;
     outline: none !important;
}

a,
.btn {
     text-decoration: none !important;
     outline: none !important;
     -webkit-transition: all .3s ease-in-out;
     -moz-transition: all .3s ease-in-out;
     -ms-transition: all .3s ease-in-out;
     -o-transition: all .3s ease-in-out;
     transition: all .3s ease-in-out;
}

img {
     max-width: 100%;
     height: auto;
}

 :focus {
     outline: 0;
}

.paddind_bottom_0 {
     padding-bottom: 0 !important;
}

.btn-custom {
     margin-top: 20px;
     background-color: transparent !important;
     border: 2px solid #ddd;
     padding: 12px 40px;
     font-size: 16px;
}

.lead {
     font-size: 18px;
     line-height: 30px;
     color: #767676;
     margin: 0;
     padding: 0;
}

.form-control:focus {
     border-color: #ffffff !important;
     box-shadow: 0 0 0 .2rem rgba(255, 255, 255, .25);
}

.navbar-form input {
     border: none !important;
}

.badge {
     font-weight: 500;
}

blockquote {
     margin: 20px 0 20px;
     padding: 30px;
}

button {
     border: 0;
     margin: 0;
     padding: 0;
     cursor: pointer;
}

.full {
     float: left;
     width: 100%;
}

.layout_padding {
     padding-top: 90px;
     padding-bottom: 0px;
}

.padding_0{
     padding: 0px;
}

.header_section {
    width: 100%;
    float: left;
    background-color: #ffffff;
    box-shadow: 0px 0px 5px 0px;
    height: auto;
}


nav.main-menu {
    float: left;
    margin-left: 0;
    padding-top: 40px;
}

.main-menu ul {
    margin: 0;
    list-style-type: none;
    margin-bottom: 10px;
}

.main-menu ul>li {
    position: inherit;
    display: inline-block;
    vertical-align: middle;
    padding-right: 30px;
    font-size: 16pt;
    color: #060608;
}

.logo {
    width: 100%;
    float: left;
    padding-top: 17px;
    padding-left: 30px;
}



.navbar-nav ul {
    float: left;
}

.search_main {
    width: 100%;
    float: left;
    background-color: #f75c58;
    height: auto;
}

.navbar-nav ul li {
    float: left;
    color: #c1a4ee;
    font-size: 26px;
    padding-right: 10px;
}

.call_bt {
    width: 100%;
    float: left;
    font-size: 18px;
    color: #ffffff;
    padding: 16px;
}

.call_icon{
     padding-left: 15px;
}

.bg-light {
    background-color: transparent !important;
}

.navbar-light .navbar-nav .nav-link {
    color: #060608;
    font-size: 16pt;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 10px;
    padding-left: 10px;
    font-size: 18px;
}

.navbar-light .navbar-toggler {
    color: rgba(0,0,0,.5);
    border-color: #000;
}

.banner_section{
     width: 100%;
     float: left;
     background-image: url(../images/banner-bg.png);
     height: auto;
     padding: 20px 30px;
}

.images_1{
     width: 100%;
     float: left;
}

.taital_main {
    width: 100%;
    float: left;
    padding-top: 290px;
}

.welcome_text{
     width: 100%;
     float: left;
     font-size: 32px;
     color: #f75c58; 
}

.power_text {
    width: 100%;
    float: left;
    font-size: 74px;
    color: #131316;
    font-weight: bold;
}

.carousel-indicators li {
     width: 10px;
     height: 10px;
     border-radius: 10px;
     background-color: #f75c58;
}



.carousel-indicators { 
     margin-left: 8%;
     justify-content: left;
     z-index: 0;
}

#main_slider .carousel-control-prev:hover, #main_slider .carousel-control-next:hover, #main_slider .carousel-control-prev:focus, #main_slider .carousel-control-next:focus {
    color: #fff;
}
#main_slider .carousel-control-prev:hover, #main_slider .carousel-control-next:hover, #main_slider .carousel-control-prev:focus, #main_slider .carousel-control-next:focus {
    color: #fff;
}
#main_slider a.carousel-control-prev {
    position: absolute;
    left: 60px;
    top: 92%;
    color: #ffffff;
}

#main_slider .carousel-control-prev, #main_slider .carousel-control-next {
    width: 65px;
    height: 65px;
    opacity: 1;
    font-size: 30px;
    color: #000;
    border-radius: 100%;
}

#main_slider a.carousel-control-next {
    position: absolute;
    left: 125px;
    top: 92%;
    color: #f75c58;
}

.about_section{
     width: 100%;
     float: left;
     background-color: #ffffff;
     height: auto;

}

.about_text{
     width: 100%;
     float: left;
     font-size:60px;
     color: #0b0505;
     font-family: SavoyeLetPlain;
}

.lorem_text{
     width: 62%;
     float: left;
     font-size:16px;
     color: #0b0505;
     margin-left: 0px;
     font-family: SavoyeLetPlain;
}

.images_2{
     width: 100%;
     float: left;
     text-align: center;
}

.read_text {
    width: 100%;
    float: right;
}

.read_text a {
    width: 15%;
    float: right;
    font-size: 16px;
    color: #ffffff;
    background-color: #f75c58;
    text-align: center;
    padding: 10px 0px;
    margin: 40px 0px;
}

.read_text a:hover{
    color: #ffffff;
    background-color: #000;
}

.Bikes_section{
     width: 100%;
     float: left;
     background-color: #f0f5f5;
     height: auto;
}

.Bikes_section_2 {
    width: 100%;
    float: left;
    background-color: #fefcfc;
    height: auto;
    padding: 40px 0px 0 0;
    box-shadow: 0px 0px 7px 0px;
}

.bike_taital {
    width: 95%;
    float: left;
    text-align: right;
    position: relative;
    top: -485px;
}

.kt_text{
     width: 100%;
     float: left;
     font-size: 40px;
     color: #090303;
     font-weight: bold;
}

.dolar_text{
     width: 100%;
     float: left;
     font-size: 40px;
     color: #090303;
     font-weight: bold;
}

.Clients_section {
    width: 100%;
    float: left;
    background-color: #f75c58;
    height: auto;
    padding: 40px 0px;
}

.images_3 {
    width: 100%;
    float: left;
    left: -60px;
    position: relative;
}

.mons_text {
    width: 90%;
    float: left;
    font-size: 40px;
    color: #fefeff;
    font-family: SavoyeLetPlain;
}

.long_text{
    width: 90%;
    float: left;
    font-size: 20px;
    color: #fefeff;
    font-family: SavoyeLetPlain;
}

.images_5 {
    width: 100%;
    float: left;
    text-align: center;
    top: -30px;
    position: relative;
}

.contact_section {
    width: 100%;
    float: left;
    background-color: #3a3939;
    height: auto;
    padding: 40px 0px 0px 0px;
}

.contact_text {
    width: 100%;
    float: left;
    font-size: 60px;
    color: #ffffff;
    font-family: SavoyeLetPlain;
}

.lorem_ipsum_text{
     width: 62%;
     float: left;
     font-size: 16px;
     color: #ffffff;
     margin-left: 0px;
     font-family: SavoyeLetPlain;
}

.contact_section_2{
     width: 100%;
     float: left;
}

.input_text {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #a09b9b;
    background-color: #ffffff;
    margin-bottom: 30px;
    padding-left: 20px;
    padding-right: 35px;
    height: auto;
    padding: 10px 35px 10px 20px;
    border: none;
}

.massage_box {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #a09b9b;
    background-color: #ffffff;
    margin-bottom: 30px;
    padding-left: 20px;
    padding-right: 35px;
    height: auto;
    padding: 10px 35px 40px 20px;
    border: none;
}

.send_bt {
    width: 30%;
    float: left;
    text-align: center;
}

.send_text {
    width: 100%;
    float: left;
}

.send_text a {
    width: 100%;
    float: left;
    font-size: 20px;
    color: #ffffff;
    background-color: #f75c68;
    text-align: center;
    padding: 12px;
    border-radius: 35px;
}

.send_text a:hover{
    color: #000;
    background-color: #ffffff;
}

.addres_section {
    width: 100%;
    float: left;
    border-style: dotted;
    color: #ffffff;
    padding: 40px;
}

.contact_main{
    margin-top: 90px;
}
.contact_main_2{
    margin-top: 90px;
    padding-top: 0px;
}

.contact_main_3{
    margin-top: 90px;
    padding-top: 50px;
}

.mail_section {
    padding-bottom: 90px;
}

.padding_left_0{
     padding-left: 15px;
}

.map_text {
    width: 100%;
    float: left;
    font-size: 18px;
    color: #fefefe;
    display: flex;
    padding-top: 23px;
}

.news_text {
    width: 100%;
    float: left;
    font-size: 20px;
    color: #ffffff;
    margin-left: 0px;
    padding-top: 31px;
}
.email_bt {
    width: 70%;
    float: left;
    font-size: 16px;
    color: #c3c2c2;
    background-color: #ffffff;
    text-align: left;
    padding-left: 15px;
    height: 50px;
    border: 0px;
}

.subscribe_bt {
    width: 30%;
    background-color: #f75c68;
    float: right;
    padding: 9px 14px;
    color: #fff;
    height: 50px;
    font-size: 16px;
}

.subscribe_bt a {
    color: #ffffff;
}

.copyright_section {
    width: 100%;
    float: left;
    background-color: #3a3939;
    height: auto;
}

.copyright_text {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #ffffff;
    text-align: center;
    margin-left: 0px;
}

.copyright_text a{
    color: #ffffff;
}

.copyright_text a:hover{
    color: #000000;
}


.carousel-inner,.carousel,.carousel-item,.fill {
    height:100%;
    min-height:400px;
    width:100%;
    background-position:center center;
    background-size:cover;
}
.slide-wrapper{display:inline;}
.slide-wrapper .container{padding:0;}


/*------------------------------ vertical bootstrap slider----------------------------*/

.Bikes_section .carousel-inner> .carousel-item.carousel-item-next ,
.Bikes_section .carousel-inner > .carousel-item.active.carousel-item-right{ 
    transform: translate3d(0, 100%, 0); -webkit-transform: translate3d(0, 100%, 0); -ms-transform: translate3d(0, 100%, 0); -moz-transform: translate3d(0, 100%, 0); -o-transform: translate3d(0, 100%, 0);  top: 0;
    
}
.Bikes_section .carousel-inner > .carousel-item.carousel-item-prev ,
.Bikes_section .carousel-inner > .carousel-item.active.carousel-item-left{ 
    transform: translate3d(0,-100%, 0); -webkit-transform: translate3d(0,-100%, 0);  -moz-transform: translate3d(0,-100%, 0);-ms-transform: translate3d(0,-100%, 0); -o-transform: translate3d(0,-100%, 0); top: 0;
    
}
.Bikes_section .carousel-inner > .carousel-item.next.carousel-item-left ,
.Bikes_section .carousel-inner > .carousel-item.carousel-item-prev.carousel-item-right ,
.Bikes_section .carousel-inner > .carousel-item.active{
    transform:translate3d(0,0,0); -webkit-transform:translate3d(0,0,0);-ms-transform:translate3d(0,0,0);; -moz-transform:translate3d(0,0,0); -o-transform:translate3d(0,0,0); top:0;
    
}


#myCarousel a.carousel-control-prev {
    position: absolute;
    left: -8%;
    top: 27%;
    background-color: #fff;
    color: #000;
}

#myCarousel .carousel-control-prev, #myCarousel .carousel-control-next {
    width: 65px;
    height: 65px;
    background: #152901;
    opacity: 1;
    font-size: 30px;
    color: #ffffff;
    border-radius: 100%;
}

#myCarousel .carousel-control-prev, #myCarousel .carousel-control-next {
    width: 65px;
    height: 65px;
    background: #152901;
    opacity: 1;
    font-size: 30px;
    color: #ffffff;
    border-radius: 100%;
}
.carousel-control-next {
    right: 0%;
    top: 75%;
    left: -20px;
}


#myCarousel .carousel-control-prev:hover, #myCarousel .carousel-control-next:hover, #myCarousel .carousel-control-prev:focus, #myCarousel .carousel-control-next:focus {
    background: #152901;
    color: #fff;
}
#myCarousel .carousel-control-prev:hover, #myCarousel .carousel-control-next:hover, #myCarousel .carousel-control-prev:focus, #myCarousel .carousel-control-next:focus {
    background: #f75c58;
    color: #fff;
}
#myCarousel a.carousel-control-prev {
    position: absolute;
    left: -19px;
    top: 85%;
    background-color: #f75c58;
    color: #000;
}
#myCarousel .carousel-control-prev, #myCarousel .carousel-control-next {
    width: 65px;
    height: 65px;
    background: #090303;
    opacity: 1;
    font-size: 30px;
    color: #ffffff;
    border-radius: 0px;
}

